@model TimesheetPrj.Models.Time
@{
    ViewBag.Title = "Display";
}



<h2 style="margin-top:20px;">TimeEntrySystem</h2>

<div>
<div>
    <div>
        <label>Select A Name</label>
    </div>
    <div>
        <select class="form-control" id="Names" name="Name Of Student">
            <option value="0">Select Name</option>
            <option>Sai Teja</option>
            <option>Lakshman</option>
            <option>Teja</option>
            <option>Sairam</option>
        </select>
    </div>
</div>
<div style="padding-top:30px">
    @Html.ActionLink("GO", "Create", "Times", null, new { @class = "btn btn-primary" })
</div>
</div>